body{
  overflow: hidden;
}

.verticallScroll{
  animation: scroll 1s ease-in alternate infinite, unHide 10s ease-in;
}

main{
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: #3d3d3da6;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #3d3d3dbc;;
}

.switch {
  margin-bottom: 0.5rem;
  --width-of-switch: 4em;
  --height-of-switch: 2.5rem;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.languageBox .flag{
  transform: translateX(0%);
  animation: flagOut 0.5s ease-in-out;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}
 
 .languageBox:hover .flag {
  opacity: 100%;
  transform: translateY(100%);
  animation: flagIn 0.5s ease-in;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }

 .card .cardBg{
  filter: blur(0px);
  transition: all .3s linear;
 }

 .card:hover .cardBg{
  filter: blur(3px);
  transform: scale(1.02);
  transition: all .3s linear;
 }

 .card:hover .cardContent{
  opacity: 0;
  transition: all .3s linear;
 }
 .card .cardContent{
  opacity: 1;
  transition: all .3s linear;
 }

 .card .goTo{
  opacity: 0;
  transition: all .3s linear;
 }
 .card:hover .goTo{
  opacity: 1;
  transition: all .4s linear;
 }

 .goTo{
  opacity: 0;
 }

 .sliderMandatoryMobile{
  scroll-snap-align: center;
  }


  .sliderMandatoryStart{
      scroll-snap-align: start;
  }





 
@keyframes flagIn {
0% {
  opacity: 0;
}

10% {
  opacity: 0;
}

100% {
  opacity: 1;
}
}
@keyframes flagOut {
0% {
  opacity: 1;
}

90% {
  opacity: 0;
}
}



@keyframes scroll {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-5px);
  }
}

@keyframes unHide {
  0%{
      opacity: 0%;
  }

  70%{
      opacity: 0%;
  }

  100% {
      opacity: 70%
  }

}